# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/

# Streamlit cache
.streamlit/

# Model files (keep folder, ignore big models)
models/*
!models/.gitkeep

# Logs
logs/
*.log

# Outputs
outputs/
outputs/**

# Jupyter notebook checkpoints (if used)
.ipynb_checkpoints/

# macOS junk
.DS_Store

# dotenv
.env
.env.*
